<table mdbTable bordered="true">
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of headL" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngIf="type === 1 || type === 2">
      <tr mdbTableCol *ngFor="let el of datos" >
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.second}}</td>
        <td>{{el.third}}</td>
        <td>{{el.fourth}}</td>
      </tr>
    </tbody>

    <tbody *ngIf="type === 3">
      <tr mdbTableCol *ngFor="let el of datos" >
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.second}}</td>
        <td>{{el.third}}</td>
        <td>{{el.fourth}}</td>
        <td>{{el.five}}</td>
        <td>{{el.six}}</td>
        <td>{{el.seven}}</td>
      </tr>
    </tbody>

    <tbody *ngIf="type === 4">
      <tr mdbTableCol *ngFor="let el of datos" >
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.second}}</td>
      </tr>
    </tbody>
  </table>
