<div class="container">
  <div>
    <h1 style="text-align: center; color: #424242;">{{menuTitle}}</h1>
  </div>


    <div class="row">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Buscar..." name="search">
    </div>

  <div class="card-columns mt-3">
    <div class="card" *ngFor="let card of cardList; index as i" >
      <img src="http://placeimg.com/{{600 + i}}/480/tech" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #424242;">{{card.name}}</h5>
        <button style="width: 100%; background-color: #008eaa;" mat-raised-button [routerLink]="['/menus', card.id, 'tabs', 1]">Entrar</button>
      </div>
    </div>
  </div>
</div>
