.container {
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.mat-card-title{
  font-size: medium;
}

.form-control {
  font-size: large;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.example-header-image {
  background-size: cover;
}
