<div *ngIf="faculty">
  <mat-toolbar class="example-toolbar">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="inversionMenu">Inversión</button>
      <mat-menu #inversionMenu="matMenu" yPosition="above">
        <div *ngFor="let inversion of menus">
        <button
          mat-menu-item
          *ngIf=" inversion.type === 1 "
          [routerLink]="['/faculties', faculty.id, 'menus', inversion.id]"
        >
          {{ inversion.name }}
        </button>
      </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="formacionMenu">Formación</button>
      <mat-menu #formacionMenu="matMenu" yPosition="above">
          <div *ngFor="let inversion of menus">
              <button
                mat-menu-item
                *ngIf=" inversion.type === 2 "
                [routerLink]="['/faculties', faculty.id, 'menus', inversion.id]"
              >
                {{ inversion.name }}
              </button>
            </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="capacidadesMenu">
        Capacidades
      </button>
      <mat-menu #capacidadesMenu="matMenu" yPosition="above">
          <div *ngFor="let inversion of menus">
              <button
                mat-menu-item
                *ngIf=" inversion.type === 3 "
                [routerLink]="['/faculties', faculty.id, 'menus', inversion.id]"
              >
                {{ inversion.name }}
              </button>
            </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="produccionMenu">
        Producción Bibliográfica
      </button>
      <mat-menu #produccionMenu="matMenu" yPosition="above">
          <div *ngFor="let inversion of menus">
              <button
                mat-menu-item
                *ngIf=" inversion.type === 4 "
                [routerLink]="['/faculties', faculty.id, 'menus', inversion.id]"
              >
                {{ inversion.name }}
              </button>
            </div>
      </mat-menu>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <h2>{{ faculty.name }}</h2>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <h3>
        {{ inversion.name }}
      </h3>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div>
  <p>GRAFICAS AQUI</p>
</div>
