<div *ngIf="faculty">
  <mat-toolbar class="example-toolbar">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="inversionMenu">Inversión</button>
      <mat-menu #inversionMenu="matMenu" yPosition="above">
        <div class="div-menu" *ngFor="let inversionMenu of menus">
          <button
            mat-menu-item
            *ngIf="inversionMenu.type === 1"
            [routerLink]="['/faculties', faculty.id, 'menus', inversionMenu.id]"
          >
            {{ inversionMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="formationMenu">Formación</button>
      <mat-menu #formationMenu="matMenu" yPosition="above">
        <div *ngFor="let formationMenu of menus">
          <button
            mat-menu-item
            *ngIf="formationMenu.type === 2"
            [routerLink]="['/faculties', faculty.id, 'menus', formationMenu.id]"
          >
            {{ formationMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="capacityMenu">Capacidades</button>
      <mat-menu #capacityMenu="matMenu" yPosition="above">
        <div *ngFor="let capacityMenu of menus">
          <button
            mat-menu-item
            *ngIf="capacityMenu.type === 3"
            [routerLink]="['/faculties', faculty.id, 'menus', capacityMenu.id]"
          >
            {{ capacityMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="productionMenu">
        Producción Bibliográfica
      </button>
      <mat-menu #productionMenu="matMenu" yPosition="above">
        <div *ngFor="let productionMenu of menus">
          <button
            mat-menu-item
            *ngIf="productionMenu.type === 4"
            [routerLink]="[
              '/faculties',
              faculty.id,
              'menus',
              productionMenu.id
            ]"
          >
            {{ productionMenu.name }}
          </button>
        </div>
      </mat-menu>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <h2>Facultad {{ faculty.name }} - {{ menu.name }}</h2>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="pull-right">
  <div>
    <button class="float-button" mat-button (click)="scroll(hbarcontainer)">
      HBar
    </button>
  </div>
  <div>
    <button class="float-button" mat-button (click)="scroll(stackedcontainer)">
      Stacked
    </button>
  </div>
  <div>
    <button class="float-button" mat-button (click)="scroll(tablecontainer)">
      Table
    </button>
  </div>
</div>

<div class="sticky-top">
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#multiCollapseHBar"
    aria-expanded="false"
    aria-controls="multiCollapseHBar"
  >
    Alternar HBar
  </button>

  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#multiCollapseStacked"
    aria-expanded="false"
    aria-controls="multiCollapseStacked"
  >
    Alternar Stacked
  </button>

  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#multiCollapseTable"
    aria-expanded="false"
    aria-controls="multiCollapseTable"
  >
    Alternar Table
  </button>
</div>

<div class="container-fluid" style="width: 100%; height: 100%;">
  <div class="col-md-8">
    <div class="collapse multi-collapse" id="multiCollapseHBar">
      <div class="card card-body">
        <div #hbarcontainer></div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="collapse multi-collapse" id="multiCollapseStacked">
      <div class="card card-body">
        <div #stackedcontainer></div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="collapse multi-collapse" id="multiCollapseTable">
      <div class="card card-body">
        <div #tablecontainer></div>
      </div>
    </div>
  </div>
</div>
