<mat-toolbar id="mainToolbar">
  <mat-icon
    (click)="onToolbarMenuToggle()"
    id="toolbarMenu">subject</mat-icon>
    <h1>Observatorio de Ciencia, Innovación y Tecnologia de Boyacá</h1>
</mat-toolbar>

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened>

    <mat-list id="menus">

      <mat-list-item>
        <button
        class="menu-item"
          mat-flat-button
          (click)="onToolbarMenuToggle()"
          [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          <a *ngIf="isMenuOpen">Inicio</a>

        </button>
      </mat-list-item>

      <mat-list-item>
        <button
        class="menu-item"
          mat-flat-button
          (click)="onToolbarMenuClose()"
          [routerLink]="['/cardMenu', 1]">
          <mat-icon>business</mat-icon>
          <a *ngIf="isMenuOpen">Facultades</a>

        </button>
      </mat-list-item>

      <mat-list-item>
        <button
        class="menu-item"
          mat-flat-button
          (click)="onToolbarMenuClose()"
          [routerLink]="['/information']">
          <mat-icon>info</mat-icon>
          <a *ngIf="isMenuOpen">Informacion</a>
      </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
