<mat-toolbar id="mainToolbar" class="example-toolbar" color="accent">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Ocibet Project</h1>
  </mat-toolbar-row>


</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" id="sidenavContainer" fullscreen>
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      <mat-list-item *ngFor="let faculty of faculties" [routerLink]="['/faculties', faculty.id, 'menus', 1]"
        (click)="sidenav.toggle()">
        <mat-icon>work</mat-icon>
        {{ faculty.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
