<div #mainmenu style="background-color: black;">
  <mat-toolbar class="example-toolbar" style="position: fixed; z-index: 2;">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="inversionMenu">Inversión</button>
      <mat-menu #inversionMenu="matMenu">
        <div *ngFor="let formationMenu of menus">
          <button
            mat-menu-item
            *ngIf="formationMenu.type === 1"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', formationMenu.id]">
            {{formationMenu.name}}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="formationMenu">Formación</button>
      <mat-menu #formationMenu="matMenu" yPosition="above">
        <div *ngFor="let formationMenu of menus">
          <button
            mat-menu-item
            *ngIf="formationMenu.type === 2"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', formationMenu.id]"
          >
            {{ formationMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="capacityMenu">Capacidades</button>
      <mat-menu #capacityMenu="matMenu" yPosition="above">
        <div *ngFor="let capacityMenu of menus">
          <button
            mat-menu-item
            *ngIf="capacityMenu.type === 3"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', capacityMenu.id]"
          >
            {{ capacityMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="productionMenu">
        Producción Bibliográfica
      </button>
      <mat-menu #productionMenu="matMenu" yPosition="above">
        <div *ngFor="let productionMenu of menus">
          <button
            mat-menu-item
            *ngIf="productionMenu.type === 4"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', productionMenu.id
            ]"
          >
            {{ productionMenu.name }}
          </button>
        </div>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div style="text-align: center; width: 100%; padding-top: 70px;">
  <h2> {{facultyName}} </h2>
  <h3>{{tabName}}</h3>
</div>

<div style="width: 100%;">
    <div class="row card-deck">
      <div class="col" [hidden]="!showHBar" >
          <div class="card card-body">
            <div #hbarcontainer></div>
          </div>
      </div>

      <div class="col" [hidden]="!showStacked">
          <div class="card card-body">
            <div #stackedcontainer></div>
          </div>
      </div>

      <div class="col" [hidden]="!showTable">
        <div class="card card-body">
          <div #tablecontainer></div>
        </div>
      </div>

    <div class="col" [hidden]="!showPie">
        <div class="card card-body">
          <div #piecontainer></div>
        </div>
    </div>

    <div class="col" [hidden]="!showLine">
        <div class="card card-body">
          <div #linecontainer></div>
        </div>
    </div>

    <div class="col" [hidden]="!showMixed">
        <div class="card card-body">
          <div #mixedcontainer></div>
        </div>
    </div>
  </div>
</div>
