<div #mainmenu style="background-color: black;">
  <mat-toolbar [hidden]="!loadComplete"
    class="example-toolbar" style="position: fixed; z-index: 2;">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="inversionMenu">Inversión</button>
      <mat-menu #inversionMenu="matMenu">
        <div *ngFor="let formationMenu of menus">
          <button
            mat-menu-item
            *ngIf="formationMenu.type === 1"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', formationMenu.id]">
            {{formationMenu.name}}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="formationMenu">Formación</button>
      <mat-menu #formationMenu="matMenu" yPosition="above">
        <div *ngFor="let formationMenu of menus">
          <button
            mat-menu-item
            *ngIf="formationMenu.type === 2"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', formationMenu.id]"
          >
            {{ formationMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="capacityMenu">Capacidades</button>
      <mat-menu #capacityMenu="matMenu" yPosition="above">
        <div *ngFor="let capacityMenu of menus">
          <button
            mat-menu-item
            *ngIf="capacityMenu.type === 3"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', capacityMenu.id]"
          >
            {{ capacityMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="productionMenu">
        Producción Bibliográfica
      </button>
      <mat-menu #productionMenu="matMenu" yPosition="above">
        <div *ngFor="let productionMenu of menus">
          <button
            mat-menu-item
            *ngIf="productionMenu.type === 4"
            [routerLink]="['/faculty_card', faculty, 'faculty_tab', productionMenu.id
            ]"
          >
            {{ productionMenu.name }}
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="comparacionMenu">
        Comparar
      </button>
      <mat-menu #comparacionMenu="matMenu" yPosition="above">
        <div *ngFor="let facultyComparation of faculties">
          <button mat-menu-item *ngIf="facultyComparation.id != faculty"
            [routerLink]="['/faculty_card_one', faculty, 'faculty_card_two', facultyComparation.id, 'faculty_tab', tab]"
            >
            {{ facultyComparation.name }}
          </button>
        </div>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div style="text-align: center; width: 100%; padding-top: 70px;">
  <h3> {{facultyName}} </h3>
  <h4>{{tabName}}</h4>
</div>

<div [hidden]="!showNoData" style="width: 100%; text-align: center;">
  <br>
  <img src="./assets/img/empty.svg" style="width: 100px; height: 100px; align-content: center;">
  <h4>Lo sentimos, parece que no hay datos disponibles para lo que estas buscando
    prueba con otra pestaña o busca en otra facultad.
  </h4>
  <br>
  <button mat-button style="background-color: cornflowerblue; width: 60%;"
  [routerLink]="['/cardMenu', 1]">
    Volver a facultades
  </button>
</div>

<div class="loader" [hidden]="!showLoading">
</div>

<div style="width: 98%; margin-left: 10px;">
  <div class="card-deck">

    <div class="card" [hidden]="!showHBar" style="min-width: 25%; max-height: 400px; overflow: scroll">
        <div class="card-body">
          <h5 class="card-title">Grafico de barras</h5>
          <div #hbarcontainer></div>
        </div>
    </div>

    <div class="card" [hidden]="!showStacked" style="min-width: 25%; max-height: 400px; overflow: scroll">
        <div class="card-body">
          <h5 class="card-title">Grafico apilado</h5>
          <div #stackedcontainer></div>
        </div>
    </div>

    <div class="card" [hidden]="!showTable" style="min-width: 25%; max-height: 400px; overflow: scroll">
      <div class="card-body">
        <h5 class="card-title">Tabla de datos</h5>
        <div #tablecontainer></div>
      </div>
    </div>

  <div class="card" [hidden]="!showPie" style="min-width: 25%; max-height: 400px; overflow: scroll">
      <div class="card-body">
        <h5 class="card-title">Grafico de torta</h5>
        <div #piecontainer></div>
      </div>
  </div>

  <div class="card" [hidden]="!showLine" style="min-width: 25%;  max-height: 400px; overflow: scroll">
      <div class="card-body">
        <h5 class="card-title">Grafico de lineas</h5>
        <div #linecontainer></div>
      </div>
  </div>

  <div class="card" [hidden]="!showMixed" style="min-width: 25%; max-height: 400px; overflow: scroll">
      <div class="card-body">
        <h5 class="card-title">Grafico mixto</h5>
        <div #mixedcontainer></div>
      </div>
  </div>
</div>
</div>
