<mat-sidenav-container>
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <div class="container">
        <hr>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
